OPENROUTER_API_KEY=
ENABLE_CONTEXT_SYNTHESIS=false
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=xl
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=xl
LANGCHAIN_API_KEY=